h4 {
    margin-left: 15px ;
    border: solid ;
    border-color: purple ;
}

/* div {
    border: solid ;
    border-width: 3px ;
} */

#highscores {
    height: 50px ;
    width: 200px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    border: solid ;
    border-width: 3px ;
    border-color: purple ;
}

.startQuiz {
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-direction: column ;
    padding: 15px ;
    border: solid ;
    border-width: 3px ;
    border-color: orange ;
}


#timer {
    height: 50px ;
    width: 200px ;
}


nav {
    display: flex ;
    justify-content: space-between ;
    align-items: flex-start ;
    height: 125px ;
}

section {
    display: flex ;
    justify-content: center ;
}

#quizBox {
    /* height: 500px ; */
    /* width: 800px ; */
    display: flex ;
    align-items: center ;
    /* margin-top: 50px ; */
    border: solid ;
    border-width: 3px ;
    flex-direction: column ;
    border-color: purple ;
    padding-left: 50px ;
    padding-right: 50px ;
}

#questionBox {
    /* height: 100px ; */
    /* width: 650px ; */
    display: flex ;
    justify-content: center ;
    align-items: center ;
    border: solid ;
    border-width: 3px ;
    border-color: orange ;
    padding-left: 50px ;
    padding-right: 50px ;
}

#optionBox {
    margin-top: 35px ;
    margin-bottom: 35px ;
    /* width: 700px ; */
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
    border: solid ;
    border-width: 3px ;
    border-color: orange ;
    /* padding-right: 25px ; */

}

.form {
    margin-top: 10px ;
    padding-bottom: 10px ;
    padding-right: 10px ;
    padding-left: 10px ;
    border: solid ;
    border-width: 3px ;
    border-color: orange ;
}

.form h3 {
  display: inline ;
  margin-right: 10px ;
}

#correctBox {
    margin-top: 10px ;
    width: 800px ;
}



#optionBox h4:hover {
    box-shadow: inset 0px 0px 8px 
    purple, 0 0 15px purple ;
}

#optionBox h4 {
    padding-top: 10px ;
    padding-bottom: 10px ;
}

.hide {
    display: none ;
}


.option {
    padding: 10px ;
}

.timer {
    display: inline-block;
    border: solid ;
    border-width: 3px ;
    border-color: purple ;
    
}

.timer h2 {
    margin: 10px ;
}

.startQuiz p {
    text-align: center ;
}

.startQuiz h1 {
    margin-bottom: 0px ;
}

hr {
    height: 3px ;
    background-color: orange ;
}